<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Show Page</h1>

		 <%= @post.f_name %>
         <%= @post.l_name %></br>
		 <img src="<%= @post.photo_url %>" height="500" width="500"/></br>
		 <%= @post.created_at %></br>
         <%= @post.description %></br>

          <a href="/posts/<%= @post.id %>/edit">Edit</a>
         

</body>
</html>