<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
</head>
<body>

	<h1><%= session[:username] %></h1>

	<h1>Your Posts</h1>   
		<ul class="index_ul_box">
		<% @user.posts.each do |post| %>
     
			<a href= "/posts/<%= post.id%>/show">
				<li> 
    				<%= post.f_name %> <%= post.l_name %></br>
    				<img class="index_photo" src="<%= post.photo_url %>" height="300" width="300"/></br>
    			</li>
    		</a>

    <% end %>
  </ul>

</body>
</html>